@model RegisterVM


<h2>Register</h2>

<form asp-action="Register" method="post" asp-controller="Account">
    <div asp-validation-summary="All"></div>

    <div>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" placeholder="First Name" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="LastName"></label>
        <input asp-for="LastName" placeholder="Last Name" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" placeholder="Username" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" placeholder="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" placeholder="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" placeholder="Confirm Password" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <div>
        <input asp-for="Agreed"  type="checkbox" />
        <label asp-for="Agreed">I agree to the terms and conditions</label>
        <span asp-validation-for="Agreed" class="text-danger"></span>
    </div>

    <button type="submit">Register</button>
</form>



