<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YourAppName</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/Student/StudentDashboard">Dashboard</a></li>
                <li><a href="/Student/StudentCourses">Courses</a></li>
                <li><a href="/Teachers">Teachers</a></li>
                <li><a href="/Message">Message</a></li>
            </ul>
        </nav>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</body>
</html>
